.thank{
    display: inline-flex;

}

#a-background1{
    background-color: blue;
    color: white;
    border: solid 1px blue;
    border-radius: 10px;
    text-decoration: none;
    height: 40px;
    width: 100pz;
}

#a-background1 a{
    color: white;
    text-decoration: none;    
}

#a-background2{
    background-color: blue;
    color: white;
    border: solid 1px blue;
    border-radius: 10px;
    text-decoration: none;
    height: 40px;
    width: 100pz;
}

#a-background2 a{
    color: white;
    text-decoration: none;    
}

#a-background3{
    background-color: blue;
    color: white;
    border: solid 1px blue;
    border-radius: 10px;
    text-decoration: none;
    height: 40px;
    width: 100pz;
}

#a-background3 a{
    color: white;
    text-decoration: none;    
}
/* grid */

#firstgrid{
    padding: 60px 50px 60px 70px;
}

#gridbutton{
    width: 220px;
    height: 40px;
    border-radius: 50px;
    color: white;
    background-color: white;
}

#gridheading{
    font-size: 60px;
    font-weight: 700;
}

/* flex */

#download{
    background-color: blue;
    color: white;
    margin: 5px 40px;
    border: solid 0px blue;
    border-radius: 5px;
    width: 400px;
    height: 80px;    
}
#download a{
    color: white;
    text-decoration: none;
}
    